@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');



*{
    padding: 0;
    margin: 0;
    
}

body{
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
}

.fundo{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
justify-content: center;
    
    
    
}

.boxlogo{
    margin-bottom: -30px;
}

.pokedex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



.logopokedex{
    height: 200px;
   margin-left: 30%;
}

.lista{
    width: 20%;
    border: 3px solid black;
    color: white;
    height: 700px;
    padding: 20px 0;
    text-align: center;
    font-family: 'DynaPuff', cursive;
    font-size: 26px;
    background: rgb(255,0,0);
background: linear-gradient(52deg, rgba(255,0,0,1) 17%, rgba(250,72,72,1) 50%, rgba(255,119,102,1) 100%);
}

.poke{
    width: 50%;
    height: 700px;
    border: 3px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.pokeContent{
    width: 50%;
    height: 60%;
    align-items: center;
    justify-content: center;
    
   
}

.image{
    height: 250px;
    cursor: pointer;
    transition: transform .5s;
    margin-left: 25%;
    
}

.image:hover{
    transform: scale(1.2);
}

.stats{
    width: 50%;
    height: 40%;
    margin-top: 30px;
   
    
}

.stats2{
    position: absolute;
    width: 100px;
    top: 65%;
    font-size: 23px;
    left: 45%;
}

.stats .barra{
    overflow: hidden;
    margin: 10px 0;
}

.lista:hover{
    transition: .5s;
}

.pokeNome{
    cursor: pointer;
}


.pokeNome:hover{
    background-color: rgba(21, 21, 247, 0.541);
    color: white;
}

.btns{
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btns2{
    
    padding: 5px 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: ridge;
    border-bottom: ridge;
    border-left: ridge;
    border-right: ridge;
    border-radius: 20px;
    
   
    transition: transform .3s;
}

.btn{
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 20px;
    border-top: ridge;
    border-bottom: ridge;
    border-left: ridge;
    border-right: ridge;
    background-color: rgb(79, 79, 245);
    color: white;
    transition: transform .3s;

}

.btn:hover{
    transform: scale(1.2);
}

.pokemonNome{
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: center;
}

.infoNome{
    width: 200px;
    text-align: center;
}

.barra{
    width: 220px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    border-top: groove;
    border-bottom: groove;
    border-left: groove;
    border-right: groove;
    position: relative;
    left: 25%;
}

.dados{
    background: greenyellow;
}


